<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Semi_Baggage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    <!-- encodingFilter 호출 -->
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>com.uni.common.filter.EncodingFilter</filter-class>
  </filter>
  <!-- 필터가 적용되는 곳 -->
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- EncryptFilter -->
  <filter>
  	<filter-name>encryptFilter</filter-name>
  	<filter-class>com.uni.common.filter.EncryptFilter</filter-class>
  </filter>
  <!-- 필터가 적용되는 곳 -->
  <filter-mapping>
  	<filter-name>encryptFilter</filter-name>
  	<url-pattern>/insertMember.do</url-pattern>
  	<url-pattern>/loginMember.do</url-pattern>
  	<url-pattern>/updatePwdMember.do</url-pattern>
  	<url-pattern>/deleteMember.do</url-pattern>
  </filter-mapping>
  
  <!-- LoginCheckFilter -->
  <filter>
    <filter-name>LoginCheckFilter</filter-name>
    <filter-class>com.uni.common.filter.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
  	<url-pattern>/deleteFAQ.do</url-pattern>
  	<url-pattern>/detailFAQ.do</url-pattern>
  	<url-pattern>/enrollFormFAQ.do</url-pattern>
  	<url-pattern>/deleteMember.do</url-pattern>
  	<url-pattern>/insertFAQ.do</url-pattern>
  	<url-pattern>/updateFormFAQ.do</url-pattern>
  	<url-pattern>/updateFAQ.do</url-pattern>
  	<url-pattern>/listMyFAQ.do</url-pattern>
  </filter-mapping>
</web-app>